<!-- We extend the standard longboxes-layout.html -->
{{extend 'longboxes-layout.html'}}

<div class="container">

	<!-- Page heading -->
	<div class="row">
		<div class="col-md-12">
			<h2>{{=box.boxes.name}} <small>{{=box.auth_user.username}}</small></h2>
			<p>You're viewing the contents of {{=box.boxes.name}}, which is owned by {{=box.auth_user.username}}</p>
		</div>
	</div>
		
	<hr>

	<!-- New row for the comics -->
 	<div class="row text-center">
 	
 	<!-- If there are no comics tell the user -->
 	{{if not comics:}}
 		<p>This box appears to be empty...</p>
 	{{pass}}
	
	<!-- Loop through each of the comics and display it on the page -->
	{{for comic in comics:}}
	
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<img src="{{=URL('download',args=comic.comics.cover)}}" style="max-height: 100px;"></img>
					{{=H4(comic.comics.title)}}
					<p>Issue Number: {{=comic.comics.issue_number}}</p>
					<p>Owner: <a href="{{=URL('collection',vars={'user':comic.comics.user_id})}}">{{=comic.auth_user.username}}</a></p>
					<a class="btn btn-default" href="{{=URL('comic',vars={'id':comic.comics.id})}}">Full details</a>
				</div>
			</div>
		</div>
		
	{{pass}}
	
	</div>
	
</div>