{{extend 'longboxes-layout.html'}}

<!-- Search results -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>{{=box.boxes.name}} <small>{{=box.auth_user.username}}</small></h2>
			<p>You're viewing the contents of {{=box.boxes.name}}, which is owned by {{=box.auth_user.username}}</p>
		</div>
	</div>
		
	<hr>

 	<div class="row text-center">
	
	{{for comic in comics:}}
	
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<img src="{{=URL('download',args=comic.comics.cover)}}" style="max-height: 100px;"></img>
					{{=H4(comic.comics.title)}}
					<p>Issue Number: {{=comic.comics.issue_number}}</p>
					<p>Owner: {{=comic.auth_user.username}}</p>
					<a class="btn btn-default" href="{{=URL('comic',vars={'id':comic.comics.id})}}">Full details</a>
				</div>
			</div>
		</div>
		
	{{pass}}
	
	</div>
	
</div>