<!-- We extend the standard longboxes-layout.html -->
{{extend 'longboxes-layout.html'}}

<!-- Collection header section -->
<div class="container">
	<!-- If we have deleted a comic or box then we display a message to confirm this -->
	{{if deleted:}}
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success alert-dismissible" role="alert">
  					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  					<!-- The exact text to display is determined by the controller and then sent to the view -->
  					<strong>{{=deleted.title()}} deleted!</strong> {{=deleted_text}}
				</div>
			</div>
		</div>
		
	{{pass}}
	
	<!-- If we have saved a box then we display a message -->
	{{if box_saved:}}
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-success alert-dismissible" role="alert">
  					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  					<strong>Box saved!</strong> Your changes to the box have been saved
				</div>
			</div>
		</div>
		
	{{pass}}
	
	<div class="row">
		<div class="col-md-12">
			<!-- Display the title as defined in the controller -->
			<h2>{{=title}}</h2>
			<!-- We customise the text do display the name of the collection's owner and whether we are looking at public/private -->
			<p>Hey, you're viewing an overview of {{=name_text}} collection.</p>
		</div>
	</div>
</div>

<!-- User's boxes - they can click on each for a full breakdown -->
<div class="container">

	<hr>

	<h3>Boxes</h3>
	
	
	<!-- If this is the current user's collection then add a key so user's know what the buttons mean -->
	{{if own_collection:}}
		<!-- This is not strictly necessary as the icons should make their meaning clear, but we put them here just in case -->
		<p><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> - Edit box details</p>
		<p><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> - Delete box and move all comics to 'Unfiled'</p>
	{{pass}}

	<!-- We can dynamically change the number of boxes to be displayed on each row by changing this variables -->
	{{box_count = 0}}
	{{boxes_per_row = 4}}
	{{box_width = 12/boxes_per_row}}

	<!-- Loop through each of the boxes and display it -->
	{{for box in boxes:}}
		
		<!-- Count how many boxes we have displayed on this row -->
		{{box_count = box_count + 1}}
		
		<!-- If this is the first box on this row then we need the row start HTML -->
		{{if box_count == 1:}}
			<div class="row text-center">
		{{pass}}
			
		<!-- Create a column for the box -->
		<div class="col-sm-{{=box_width}}">
			<div class="panel panel-default box">
				<div class="panel-heading">{{=H4(box.boxes.name)}}</div>
				<div class="panel-body">
					<!-- If we have one comic we display 'comics', otherwise we display 'comic' -->
					<h3>{{=box.number_of_comics}}
						{{if box.number_of_comics == 1:}}
							comic
						{{else:}}
							comics
						{{pass}}
					</h3>
					<!-- Display correctly formatted creation date and time -->
					<p>Created: {{=box.boxes.created_date.strftime("%H:%I")}} {{=box.boxes.created_date.strftime("%d/%m/%Y")}}</p>
					<a class="btn btn-default btn-padded" href="{{=URL('box',vars={'id':box.boxes.id})}}">View box</a>
					<!-- Add some edit buttons if this is the user's own collection -->
					{{if own_collection:}}
						<!-- We're only going to display the edit buttons if we aren't outputting the unfiled box -->
						{{if box.boxes.name != 'Unfiled':}}
							<!-- We use icons on these buttons to save space and prevent repeated information on every box -->
							<a class="btn btn-default btn-padded" href="{{=URL('update_box',vars={'box':box.boxes.id})}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
							<a class="btn btn-danger btn-padded" data-toggle="modal" data-target="#delete-box-modal" data-box-delete-url="{{=URL('delete_box',vars={'box':box.boxes.id})}}" data-box-name="{{=box.boxes.name}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
						{{pass}}
					{{pass}}
				</div>
			</div>
		</div>
		
		<!-- If we are on the last box for the row output the row end HTML and reset the counter -->
		{{if box_count == boxes_per_row:}}
			</div>
			{{box_count = 0}}
		{{pass}}
		
	{{pass}}
	
	<!--
	Add the 'new box' section if this is the current user's collection
	This should look somewhat like a box to make it clear what it does
	If the user has very few/no boxes in their collection this will be at the top of the page making it obvious how they create a new box
	-->
	{{if own_collection == True:}}
		<!-- If we need a new row then create it -->
		{{if box_count == 0:}}
			<div class="row text-center">
		{{pass}}
	
		<!-- Create the column for the 'new box' section -->
		<div class="col-sm-{{=box_width}}">
			<div class="panel panel-default box">
				<div class="panel-heading"><h4>A future box...</h4></div>
				<div class="panel-body">
					<h3><a href="{{=URL('update_box')}}">Add a box!</a></h3>
					<h3><a href="{{=URL('update_box')}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h3>
					<p>Click the '+' to add a new box to your collection!</p>
				</div>
			</div>
		</div>
		</div>
	{{pass}}
	
	</div>
	
</div>

<!-- We also display all of the comics (public if viewing another user's collection) in this collection -->
<div class="container">

	<hr>
	
	<h3>Comics</h3>
	
	<div class="row text-center">
	
		{{if not comics:}}
			<p>This user has no public comics</p>
		{{pass}}
	
		<!-- Loop through each of the comics and display it here -->
		{{for comic in comics:}}
		
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<!-- We have to get the URL to the image and then output that as an img -->
						<img src="{{=URL('download',args=comic.comics.cover)}}" style="max-height: 100px;"></img>
						{{=H4(comic.comics.title)}}
						<p>Issue Number: {{=comic.comics.issue_number}}</p>
						<p>Owner: <a href="{{=URL('collection',vars={'user':comic.comics.user_id})}}">{{=comic.auth_user.username}}</a></p>
						<a class="btn btn-default btn-padded" href="{{=URL('comic',vars={'id':comic.comics.id})}}">Full details</a>
						<!-- Output some buttons if this is the user's own collection-->
						{{if own_collection:}}
							<a class="btn btn-default btn-padded" href="{{=URL('manage_boxes',vars={'comic':comic.comics.id})}}"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span> Manage boxes</a>
							<a class="btn btn-danger btn-padded" data-toggle="modal" data-target="#delete-comic-modal" data-comic-delete-url="{{=URL('delete_comic',vars={'comic':comic.comics.id})}}" data-comic-name="{{=comic.comics.title}}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
						{{pass}}
					</div>
				</div>
			</div>
			
		{{pass}}
		
		<!-- If we are viewing the user's own collection then give them an add comic panel -->
		{{if own_collection:}}
		
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3><a href="{{=URL('update_comic')}}">Add a comic!</a></h3>
						<h3><a href="{{=URL('update_comic')}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></h3>
						<p>Click the '+' to add a new comic to your collection!</p>
					</div>
				</div>
			</div>
		
		{{pass}}
		
	</div>

</div>

{{if own_collection:}}
	<!-- Only need to output the modals and JS if this is the user's own collection -->
	<!-- Modal for deleting a box -->
	<div class="modal fade" id="delete-box-modal" tabindex="-1" role="dialog" aria-labelledby="delete_box_label">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="delete_box_label">Delete box</h4>
		  </div>
		  <div class="modal-body">
			<p>Are you sure you want to delete the box "<span id="delete-box-modal-box-name"></span>"?</p>
			<p><em>Note: The comics contained in this box will not be delete and will instead be moved into your 'unfiled' box</em></p>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			<a type="button" class="btn btn-danger" id="delete-box-modal-button">Delete box</a>
		  </div>
		</div>
	  </div>
	</div>

	<script type="text/javascript">

		//Javascript to populate the delete box modal with the correct link and text
		$('#delete-box-modal').on('show.bs.modal', function(e) {

			//Get the box delete url and box name from the clicked button's data attributes
			var box_url = $(e.relatedTarget).data('box-delete-url');
			var box_name = $(e.relatedTarget).data('box-name');

			//Set the modal text to display the box name
			$('#delete-box-modal-box-name').text(box_name);
		
			//Set the modal 'delete' button to the correct link
			$('#delete-box-modal-button').attr('href', box_url);
		});

	</script>
{{pass}}